# The largest heading
## The second largest heading
###### The smallest heading

This site was built using [GitHub Pages](https://pages.github.com/).
- George Washington
- John Adams
- Thomas Jefferson

In [1]:
my_list = ['a','b','c','d']
for idx, val in enumerate(my_list):
    print(idx, val)

0 a
1 b
2 c
3 d

In [5]:
file_name = 'aa.jpg'
print('파일명 은 {} type은 {}'.format(file_name, type(file_name)))

파일명 은 aa.jpg type은 <class 'str'>

In [7]:
print(f'파일명 {file_name} type은 {type(file_name)}')

파일명 aa.jpg type은 <class 'str'>

### List Comprehension

In [12]:
# create a list using a for loop
squares = []

for x in range(10):
    if x % 2 == 0:
        # raise x to the power of 2
        squares.append(x**2)

print(squares)

[0, 4, 16, 36, 64]

In [13]:
# create a list using list comprehension
squares = [x**2 for x in range(10) if x % 2 == 0]

print(squares)

[0, 4, 16, 36, 64]

In [17]:
import numpy as np

np.arange(10)
for val in np.arange(10):
    print(val)

0
1
2
3
4
5
6
7
8
9

In [19]:
num = (10)
type(num)

int

In [1]:
num2 = (10,)
type(num2)

tuple

In [2]:
def swap(n1, n2):
    return  (n2, n1)

In [4]:
a,b = swap(10,20)
print(a)
print(b)

20
10

In [5]:
def add(n1,n2):
    return n1 + n2

In [7]:
add(10,20)

30

In [10]:
add2 = lambda n1,n2:n1+n2

In [12]:
add2(30,40)

70

In [15]:
dt_list = ['정당','선거구']
dd_list = ['민주당','서울은평구']

print(zip(dt_list,dd_list))
for dt_dd in zip(dt_list,dd_list):
    print(type(dt_dd), dt_dd)

<zip object at 0x00000189C3D42E80>
<class 'tuple'> ('정당', '민주당')
<class 'tuple'> ('선거구', '서울은평구')

In [17]:
data_dict = dict(zip(dt_list,dd_list))
data_dict

{'정당': '민주당', '선거구': '서울은평구'}

In [21]:
from datetime import date

today = date.today()
print(today.year)
print(today.month)
print(today.day)

2021
9
30

In [23]:
birth1 = date(1960,6,5)
birth2 = date(1960,12,4)

print(birth1,birth2)

1960-06-05 1960-12-04

In [24]:
(9,30) < (6,5)  #0

False

In [25]:
(9,30) < (12,4) #1

True

In [26]:
(today.month, today.day) < (birth1.month, birth1.day)

False

In [28]:
age = today.year - birth1.year - ((today.month, today.day) < (birth1.month, birth1.day))
print(age)

61

In [29]:
age2 = today.year - birth1.year - ((today.month, today.day) < (birth2.month, birth2.day))
print(age2)

60