### 크롤링으로 위경도 가져오기
* 따릉이 대여소 정보 가져오기

In [1]:
import requests
import json

rent_stations = []
base_url = 'https://www.bikeseoul.com/app/station/getStationRealtimeStatus.do?stationGrpSeq=ALL'

response = requests.get(base_url)
print(response.status_code)
print(response.ok)
if response.ok:
    print(type(response.json()['realtimeList']))
    station_list = response.json()['realtimeList']

    with open('data/seoul_bike/station.json','w') as file:
        json.dump(station_list, file)

200
True
<class 'list'>

In [2]:
import pandas as pd

station_origin_df = pd.read_json('data/seoul_bike/station.json')
print(station_origin_df.shape)
station_origin_df.head()

(2480, 11)

,stationName,stationImgFileName,stationId,stationLongitude,stationLatitude,rackTotCnt,parkingBikeTotCnt,parkingQRBikeCnt,parkingELECBikeCnt,stationSeCd,mode
0,위트콤공장,,ST-598,0.000000,0.000000,68,0,0,0,RAK_001,NaN
1,102. 망원역 1번출구 앞,,ST-4,126.910629,37.555649,22,0,0,0,RAK_001,NaN
2,103. 망원역 2번출구 앞,,ST-5,126.910835,37.554951,16,0,1,1,RAK_001,NaN
3,104. 합정역 1번출구 앞,,ST-6,126.914986,37.550629,15,0,1,1,RAK_001,NaN
4,105. 합정역 5번출구 앞,,ST-7,126.914825,37.550007,7,0,1,0,RAK_001,NaN

In [40]:
#610. 동대문중 교차로
s1="610. 동대문중 교차로"
idx = s1.index(".") + 1
s2 = s1[idx:]
print (s2)

 동대문중 교차로

In [4]:
station_list = []
for idx,row in station_origin_df.iterrows():
    idx = row["stationName"].find(".") + 1
    temp_str = row['stationName'][idx:]
    station_list.append(temp_str.strip())
    
station_origin_df['대여소'] = station_list

In [5]:
station_origin_df['대여소'].head(10)

0              위트콤공장
1         망원역 1번출구 앞
2         망원역 2번출구 앞
3         합정역 1번출구 앞
4         합정역 5번출구 앞
5         합정역 7번출구 앞
6    신한은행 서교동금융센터점 앞
7            서교동 사거리
8             제일빌딩 앞
9         상수역 2번출구 앞
Name: 대여소, dtype: object

In [57]:
station_origin_df.head(3)

,stationId,stationImgFileName,stationName,stationLongitude,stationLatitude,rackTotCnt,parkingBikeTotCnt,parkingQRBikeCnt,parkingELECBikeCnt,stationSeCd,mode,대여소
0,ST-598,,위트콤공장,0.000000,0.000000,68,0,0,0,RAK_001,NaN,위트콤공장
1,ST-4,,102. 망원역 1번출구 앞,126.910629,37.555649,22,0,5,3,RAK_001,NaN,망원역 1번출구 앞
2,ST-5,,103. 망원역 2번출구 앞,126.910835,37.554951,16,0,9,1,RAK_001,NaN,망원역 2번출구 앞

In [6]:
station_df = station_origin_df.loc[:,['대여소','stationLongitude','stationLatitude']]
station_df.columns = ['대여소','경도','위도']
print(station_df.shape)

(2480, 3)

In [62]:
station_df.head()

          대여소          경도         위도
0       위트콤공장    0.000000   0.000000
1  망원역 1번출구 앞  126.910629  37.555649
2  망원역 2번출구 앞  126.910835  37.554951
3  합정역 1번출구 앞  126.914986  37.550629
4  합정역 5번출구 앞  126.914825  37.550007

In [7]:
station_df.to_csv('data/seoul_bike/bike_station.csv', index=False)